.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0,5rem 2%;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo h3 {
    color: #ffffff;
    margin: -2;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}



.nav-links p {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* Para asegurarnos de que el contenido no quede detrás del navbar */
body {
    padding-top: 70px;
    margin: 0;
    font-family: 'Arial', sans-serif;
    margin-bottom: 60px;
    min-height: 100vh;
    position: relative;
}

/* Colores específicos para cada red social (opcional) */
.fa-instagram:hover {
    color: #E4405F;
}

.fa-x-twitter:hover {
    color: #1DA1F2;
}

.fa-github:hover {
    color: #333;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 1%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}
.footer-content p.copyright {
    left: 0;
    margin-left: 0px;
    align-items: left;
    margin-right: 0px;
}
.redes-sociales-footer {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 30px;
    gap: 10px;
}

.redes-sociales-footer a {
    color: #ffffff;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.redes-sociales-footer a:hover {
    transform: scale(1);
}

/* Colores específicos para cada red social en el footer */
.redes-sociales-footer .fa-instagram:hover {
    color: #E4405F;
}

.redes-sociales-footer .fa-x-twitter:hover {
    color: #1DA1F2;
}

.redes-sociales-footer .fa-github:hover {
    color: #808080;
}

.email {
    color: #ffffff;
    margin: 0;
    /* Opcional: añadir un ícono de correo */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 250px ;
}

/* Si quieres añadir un ícono de correo antes del email */
.email::before {
    content: "\f0e0"; /* Código del ícono de correo de Font Awesome */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 1px;
}

/* Opcional: estilo para cuando se pasa el cursor por encima */
.email:hover {
    color: #808080;
    cursor: pointer;
}

.copyright {
    margin: 0;
    left: 0;
}

